body{

    background-color: rgb(0, 0, 0);
    color: rgb(185, 117, 202);

}

h1 {

    color: #d8006c;

}

.job-title {

    background-color: #e62de6;
    color: #000000;

}

#high {

    color: rgb(209, 23, 141);

}

ul {

    background-color: #e62de6;
    color: rgb(0, 0, 0);

}