p {

    color: mediumslateblue;
    font-size: xx-large;
}

.texto-principal {

    color: steelblue;

}

.título-principal {

    color: slateblue;
    background-color: plum;

}

.negrito {

    color: magenta;

}

#títuloSecundário {

    color: navy;

}

*{

    /*vai estilizar todo mundo que não tenha class ou pré-definição*/

    color: red;
}

body {

    background-color: pink;

}